MERRA2.README.pdf
SRS_util/
TempBasedCycleTimes.csv
__init__.py
__pycache__/
flexpart_inputs/
flexpart_wrf_inputs/
hrrr_traj_processing_flexpart.py
hrrr_traj_processing_flexwrf.py
input.3dvar.template
input.dummy
input.hrrr.template.old
input.latlon
input.new
input.wrfcoord
old/
old_fw.py
trajectory_processing_CLSM_flexpart.py
trajectory_processing_CLSM_flexwrf.py
.nfs00000003e61b6803000167a3 
.nfs0000000417148dd50001a823
