=====================FORMER PATHNAMES FILE===================
/rcfs/scratch/corn062/SGP_TBS/SGP_TBS.220414191125/
/rcfs/scratch/corn062/BNF/met/HRRR/grib/
/people/corn062/flexpart-wrf/available/AVAILABLE_AGINSGP_HRRR_GRIB
=============================================================
=====================FORMER COMMAND FILE=====================
    -1               LDIRECT:          1 for forward simulation, -1 for backward simulation
    20220409 191125    YYYYMMDD HHMISS   starting date of simulation
    20220414 200345    YYYYMMDD HHMISS   end date of simulation
    3600             SSSSS  (int)      output every SSSSS seconds
    3600             SSSSS  (int)      time average of output (in SSSSS seconds)
    3600             SSSSS  (int)      sampling rate of output (in SSSSS seconds)
    999999999        SSSSS  (int)      time constant for particle splitting (in seconds)
    300              SSSSS  (int)      synchronisation interval of flexpart (in seconds)
    5.               CTL    (real)     factor by which time step must be smaller than tl
    5                IFINE  (int)      decrease of time step for vertical motion by factor ifine
    1                IOUT              1 concentration, 2 mixing ratio, 3 both, 4 plume traject, 5=1+4
    1                IPOUT             particle dump: 0 no, 1 every output interval, 2 only at end
    0                LSUBGRID          subgrid terrain effect parameterization: 1 yes, 0 no
    0                LCONVECTION       convection: 3 yes, 0 no
    3600.            DT_CONV  (real)   time interval to call convection, seconds
    0                LAGESPECTRA       age spectra: 1 yes, 0 no
    0                IPIN              continue simulation with dumped particle data: 1 yes, 0 no
    0                IFLUX             calculate fluxes: 1 yes, 0 no
    1                IOUTPUTFOREACHREL CREATE AN OUPUT FILE FOR EACH RELEASE LOCATION: 1 YES, 0 NO
    0                MDOMAINFILL       domain-filling trajectory option: 1 yes, 0 no, 2 strat. o3 tracer
    1                IND_SOURCE        1=mass unit , 2=mass mixing ratio unit
    1                IND_RECEPTOR      1=mass unit , 2=mass mixing ratio unit
    0                NESTED_OUTPUT     shall nested output be used? 1 yes, 0 no
    0                LINIT_COND   INITIAL COND. FOR BW RUNS: 0=NO,1=MASS UNIT,2=MASS MIXING RATIO UNIT
    1                TURB_OPTION       0=no turbulence; 1=diagnosed as in flexpart_ecmwf; 2 and 3=from tke.
    0                LU_OPTION         0=old landuse (IGBP.dat); 1=landuse from WRF
    0                CBL SCHEME        0=no, 1=yes. works if TURB_OPTION=1
    0                SFC_OPTION        0=default computation of u*, hflux, pblh, 1=from wrf
    0                WIND_OPTION       0=snapshot winds, 1=mean winds,2=snapshot eta-dot,-1=w based on divergence
    0                TIME_OPTION       1=correction of time validity for time-average wind,  0=no need
    0                OUTGRID_COORD     0=wrf grid(meters), 1=regular lat/lon grid
    0                RELEASE_COORD     0=wrf grid(meters), 1=regular lat/lon grid
    2                IOUTTYPE          0=default binary, 1=ascii (for particle dump only),2=netcdf
    4                NCTIMEREC (int)   Time frames per output file, only used for netcdf
    100              VERBOSE           VERBOSE MODE,0=minimum, 100=maximum
=====================FORMER AGECLASESS FILE==================
    1                NAGECLASS        number of age classes
    999999           SSSSSS  (int)    age class in SSSSS seconds
=====================FORMER OUTGRID FILE=====================
    0                OUTLONLEFT      geograhical longitude of lower left corner of output grid
    0                OUTLATLOWER     geographical latitude of lower left corner of output grid
    179               NUMXGRID        number of grid points in x direction (= # of cells )
    105               NUMYGRID        number of grid points in y direction (= # of cells )
    0                OUTGRIDDEF      outgrid defined 0=using grid distance, 1=upperright corner coordinate
    30000            DXOUTLON        grid distance in x direction or upper right corner of output grid
    30000             DYOUTLON        grid distance in y direction or upper right corner of output grid
    8               NUMZGRID        number of vertical levels
    100.0            LEVEL           height of level (upper boundary)
    500.0            LEVEL           height of level (upper boundary)
    1000.0           LEVEL           height of level (upper boundary)
    2000.0           LEVEL           height of level (upper boundary)
    3000.0           LEVEL           height of level (upper boundary)
    4000.0           LEVEL           height of level (upper boundary)
    5000.0           LEVEL           height of level (upper boundary)
    10000.0          LEVEL           height of level (upper boundary)
=====================FORMER RECEPTOR FILE====================
    0                NUMRECEPTOR     number of receptors
=====================FORMER SPECIES FILE=====================
     5               NUMTABLE        number of variable properties. The following lines are fixed format
XXXX|NAME    |decaytime |wetscava  |wetsb|drydif|dryhenry|drya|partrho  |parmean|partsig|dryvelo|weight |
    AIRTRACER     -999.9   -9.9E-09         -9.9                 -9.9E09                   -9.99   29.00
    BACTERIA      -999.9    1.0E-04  0.80   -9.9                  1.0E03  1.0E-6  3.0E-1   -9.99   -9.99
    SPORES        -999.9    1.0E-04  0.80   -9.9                  1.0E03  2.5E-6  3.0E-1   -9.99   -9.99
    POLLEN        -999.9    1.0E-04  0.80   -9.9                  1.0E03  10.E-6  3.0E-1   -9.99   -9.99
    DUST          -999.9    1.0E-04  0.80   -9.9                  2.5E03  5.0E-6  3.0E-1   -9.99   -9.99
=====================FORMER RELEEASES FILE===================
   1                 NSPEC           total number of species emitted
   0                 EMITVAR         1 for emission variation 
   2                 LINK            index of species in file SPECIES
   1                 NUMPOINT        number of releases
   20220414 191125   YYYYMMDD HHMISS   beginning date of simulation
   20220414 200345   YYYYMMDD HHMISS   ending date of simulation
   2698860        XPOINT1 (real)  longitude [deg] of lower left corner
   1376546        XPOINT1 (real)  latitude [deg] of lower left corner
   2698860        XPOINT2 (real)  longitude [deg] of upper right corner
   1376546        YPOINT2 (real)  latitude [deg] of upper right corner
   1                 KINDZ  (int)  1 for m above ground, 2 for m above sea level, 3 pressure
   0           ZPOINT1 (real)    lower z-level 
   250           ZPOINT2 (real)    upper z-level 
   100000           NPART (int)    total number of particles to be released
   1000.0            XMASS (real)    total mass emitted
   input.TBS_220414191125       NAME OF RELEASE LOCATION^M
